/* Add this style to your Lightning web component's CSS file */
:host {
    /* Set the default width of the modal */
    --modal-width: 60%;
}

/* Apply different styles for smaller screens (e.g., mobile devices) */
@media only screen and (max-width: 480px) {
    :host {
        --modal-width: 80%; /* Adjust the width as needed for mobile devices */
        margin: 0; /* Remove margin on both sides for mobile devices */
    }
}